*{
    margin: 0;
    padding: 0;
    outline: none;
}

.container {
    background-color: blanchedalmond;
    width: 100vw;
    height: 100vh;
    padding-left: 440px;
    padding-top: 74px;

}

#play{
    width: 100%;
    padding-top: 10px;
    height: fit-content;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
#control{
    width: 20%;
    
}
#point{
    padding-top: 1%;
    padding-left: 0%;
    
}
.square{
    height: 288px;
    width: 191px;
    border: 1px solid;
}
p{
    font-size: 98px;
}

